.card-container {
    padding: 25px;
    position: relative;
}

.card-container-2 {
    padding: 15px;
}

.card-container:hover {
    color: var(--black);
    background-color: var(--accent-light);
    border-radius: 0 10px 10px 0;
    box-shadow: -150px 0 var(--accent-light);
    transition: box-shadow 750ms, background-color 750ms;
}

.card-container:hover .tag {
    color: var(--black);
    background-color: var(--white);
}

.card-link {
    text-decoration: none;
    color: var(--black);
}

/* surprise gif */
.card-gif {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 0;
    max-width: 200px;
    height: auto;
}

.card-container:hover .card-gif {
   display: block;
}

/* .card-gif {
    z-index: 9999;
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 200px;
    height: 75px;
    background-image: url(../../media/About/doodles.png);
    background-size: cover;
}

.card-container:hover .card-gif {
   background-image: url(../../media/peek.gif);
} */

.featured-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

@media screen and (min-width: 1050px) {
    /* align text to the right when image is on the right */
    .align-right {
        margin-left: auto; 
        margin-right: 0;
        text-align: right;
    }
    .align-right > .featured-tags {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 688px) {
    .card-container {
        padding: 10px 0px;
        position: relative;
    }
}