.featured-project-card {
    height: 160px;
    max-width: 600px;
    margin-bottom: 10px;
    color: black;
}

.featured-text {
    font-size: 12px;
}

.featured-header:hover {
    color: var(--hover);
}