.subsection {
    margin-bottom: 20px;
}

.subsection-img {
    max-width: 700px;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.wide {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 688px) {
    .subsection-img {
        max-width: 100%;
    }
}