/* about paage styling */
.about-doodle {
    background-color: var(--white) !important;
    min-width: 70% !important;
    max-width: 150px;
    margin: auto;
}

.about-profile {
    background: none;
    max-width: 550px;
    margin: auto;
}