/* home styling */
#home-background {
    width: 100%;
    background-color: var(--accent-light);
    border-radius: 0 0 20px 20px;
    position: relative; 
    top: -75px;
}

.home-gif {
    top: 20px;
    max-width: 300px;
    height: auto;
    position: absolute;
}

.page-body {
    padding-bottom:100px;
    padding-top: 25px;
}

.lab-links a {
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
}

.dev-link-container {
    color: var(--white);
    background-color: var(--black);
    border-radius: 0 10px 10px 0;
    box-shadow: -500px 0 var(--black);
    padding: 0;
}

.dev-link {
    padding: 75px 25px;
    margin-top: 25px;
}

.dev-link-container:hover {
    background-color: black;
    border-radius: 0 10px 10px 0;
    box-shadow: -500px 0 black;
    transition: box-shadow 750ms, background-color 750ms;
}

.dev-tags {
    padding-top: 20px;
}

.dev-tags .tag {
    background-color: var(--accent-dark);
    color: var(--white);
}

.dev-img {
    width: 100%;
}

/* resume page styling */
.right-align {
    float: right;
    z-index: 1;
} 

.clear-float {
    clear: both;
}

/* video styling */
/* .project-video {
    margin-left: auto;
    margin-right: auto;
    display: block
} */