/* home styling */
#home-background {
    width: 100%;
    background-color: var(--accent-light);
    border-radius: 0 0 20px 20px;
    position: relative; 
    top: -75px;
}

.home-gif {
    top: 40px;
    max-width: 300px;
    height: auto;
    position: absolute;
}

.page-body {
    padding: 50px 0;
    padding-top: 25px;
}

.lab-links a {
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
}

.dev-link {
    color: var(--white);
    background-color: var(--black);
    border-radius: 0 10px 10px 0;
    box-shadow: -500px 0 var(--black);
    padding: 75px 25px;
    margin: 25px 0 75px 0;
}

.dev-link:hover {
    color: var(--black);
    background-color: var(--accent-light);
    border-radius: 0 10px 10px 0;
    box-shadow: -500px 0 var(--accent-light);
    transition: box-shadow 750ms, background-color 750ms;
}

.dev-tags {
    padding-top: 20px;
}

.dev-tags .tag {
    background-color: var(--accent-dark);
    color: var(--white);
}

/* resume page styling */
.right-align {
    float: right;
    z-index: 1;
} 

.clear-float {
    clear: both;
}