.featured-intro-container {
    display: flex;
}

.featured-link {
    padding: 5px 10px;
    border-radius: 30px;
    max-width: max-content;
    border: 1px solid var(--accent);
}

.featured-link:hover {
    background-color: var(--accent);
}

.featured-intro-text {
    max-width: 450px;
}

.featured-img-container {
    width: 100%;
    max-height: 450px;
}
.featured-img-cropped {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.featured-img-uncropped {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

hr {
    border: 1px solid var(--accent-light);
}