.intro-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.intro-container p {
    font-size: 16px;
}

.intro-img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: var(--white-dark);
    border-radius: 5px;
}

.intro-btn {
    top: 20px;
    position: -webkit-sticky;
    position: sticky;
}