@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: content-box;
  margin: 0px;
}

:root {
  /* define variables */
  --accent-light: #CBC6ED; /* #c51d2e or #ea9554 */
  --accent-dark: #612fcc;
  --white: #FFFEFE;
  --white-dark: #F8F8F8;
  --gray: #959595;
  --black: #221D30;
  --title: "Inter";
  --title-fallback: sans-serif;
  --title-resume: "Helvetica";
  --body: "Inter";
  --body-fallback: serif;
}

body {
  background-color: var(--white);
  margin: auto;
}

/* add side margins with this div */
.body {
  margin: 0px 75px;
}

/* customize appearance of text */
h1 {
  font-family: var(--title), var(--title-fallback);
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-family: var(--title), var(--title-fallback);
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-family: var(--title), var(--title-fallback);
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-family: var(--title), var(--title-fallback);
  font-size: 16px;
  padding-left: 0px;
  color: var(--gray);
  font-weight: 400;
}

h5 {
  font-family: var(--title), var(--title-fallback);
  font-size: 16px;
  font-weight: 400;
}

p {
  font-family: var(--title), var(--title-fallback);
  font-size: 12px;
}

a {
  color: var(--black);
}

a:hover {
  color: var(--accent-dark);
}

.tag, button {
  font-family: var(--title), var(--title-fallback);
  font-size: 12px;
  color: var(--black);
  background-color: var(--accent-light);
  padding: 10px;
}

.tag {
  border-radius: 5px;
  max-width: max-content;
  display: inline-block;
}

button {
  border-radius: 20px;
  border: none;
}

button:hover {
  background-color: var(--accent-dark);
  color: var(--white);
}

.small-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
  font-size: 18px;
}

.divider {
  padding: 10px;
}

.divider-big {
  padding: 40px;
}

hr {
  margin: 50px 0;
  border: 1px solid var(--accent-light);
  top: 20px;
}


.unbold {
  font-weight: 400;
  display: inline-block;
}

/* two column structure */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 10px 50px;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 400px;
}

.column > img {
  width: 100%; 
  min-width: 400px;
  height: auto; 
  background-color: var(--white-dark);
  border-radius: 5px;
}

.column > * {
  margin: 10px 0;
}

.col-big {
  flex: 2;
  min-width: 400px;
}

.col-small {
  min-width: 300px;
}

/* image above text when wrapped */
.reverse {
  flex-wrap: wrap-reverse;
}



@media screen and (max-width: 688px) {

  .body {
    margin: 0px 20px;
  }

  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4, h5 {
    font-size: 14px;
  }

  p, .tag {
    font-size: 10px;
  }

  .column, .column > img {
    min-width: 100%;
    max-width: 100%;
  }
}