#dev-body {
    background-color: var(--black);
    color: var(--white);
    margin: -20px 0;
    padding: 40px 0;
    z-index: -1;
}

#dev-body .tag {
    background-color: var(--gray-dark);
    color: var(--white);
}